:root{
    --color-black: #000;
    --color-lighter: #0D0D0D;
    --color-wight: #fff;
}
@font-face{
    font-family: 'Roboto';
    src: url('./../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face{
    font-family: 'Roboto';
    src: url('./../fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}
@font-face{
    font-family: 'Roboto';
    src: url('./../fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
}
@font-face{
    font-family: 'Playfair Display';
    src: url('./../fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf');
    font-weight: 500;
}
@font-face{
    font-family: 'Bitter';
    src: url('./../fonts/Bitter/static/Bitter-Regular.ttf');
    font-weight: 400;
}
@font-face{
    font-family: 'Bitter';
    src: url('./../fonts/Bitter/static/Bitter-Bold.ttf');
    font-weight: 700;
}
*{
    margin: 0;
    padding: 0;
}
/* общие стили */
.family_roboto{font-family: Roboto;}
.family_playfair-display{font-family: Playfair Display;}
.family_bitter{font-family: Bitter;}
.d-flex{display: flex;}
.d-grid{display: grid;}
/* END общие стили*/
.header_menu{
    min-height: 135px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 20px;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 55px;
    flex: 1 0 0;
}
.menu-link{
    text-decoration: none;
    color: var(--color-black);
    font-size: 24px;
    font-weight: 500;
}
.menu-link:hover{
    text-decoration: underline;
}

.header_screensaver{
    height: 630px;
    flex-shrink: 0;
    background: no-repeat center/100% url("./../img/bacground_studio.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}
.screensaver_text{
    display: flex;
    width: 690px;
    padding: 110px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    background-color: var(--color-wight);
}
.title-site{
    color: var(--color-black);
    font-size: 86px;
    font-weight: 500;
    line-height: 120%;
}
.title-site_label{
    color: var(--color-black);
    font-size: 20px;
    font-weight: 500;
}

.section-title{
    color: var(--color-black);
    font-size: 24px;
    font-weight: 700;
}

.biography_name{
    color: var(--color-black);
    font-size: 86px;
    font-weight: 500;
}
.biography_status,
.biography_orientation{
    color: var(--color-lighter);
    font-size: 18px;
    font-weight: 500;
}
.biography_citation{
    color: var(--color-lighter);
    font-size: 26px;
    font-weight: 400;
}

.designers{margin-bottom: 150px;}
.designers_name{
    color: var(--color-black);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.designers_title{
    width: 334px;
    margin-left: 139px;
    margin-bottom: 30px;
}
.designers_orientation{
    color: var(--color-black);
    font-size: 16px;
    font-weight: 400;
}
.designers_orientation>span{
    font-weight: 700;
}
.designers_content{
    gap: 20px;
    align-items: end;
    margin: 0px 20px;
    overflow-x: auto;
}
.designers_content img{
    margin-bottom: 21px;
    width: 100%;
}
.designers_float-fight{
    margin-top: 3px;
    width: 335px;
    justify-self: end;
}

.testimonials_site-title{
    color: var(--color-black);
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}
.testimonials_site-link{
    color: var(--color-black);
    font-size: 16px;
    font-weight: 400;
}
.testimonials_citation{
    color: var(--color-black);
    font-size: 32px;
    font-weight: 400;
}

.strong-points_title{
    color: var(--color-black);
    font-size: 86px;
    font-weight: 500;
    line-height: 100%;
}
.strong-points_list li{
    color: var(--color-black);
    font-size: 34px;
    font-weight: 400;
}
